.header {
	background-color: $color-grey-dark-1;
	grid-column: full-start / col-end 6;
	background-image: linear-gradient(
			rgba($color-secondary, 0.93),
			rgba($color-secondary, 0.93)
		),
		url(../img/hero.jpeg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr min-content 6rem 1fr;
	grid-row-gap: 1.5rem;
	padding: 8rem;
	padding-top: 4rem;
	grid-template-columns: max-content;

	&__logo {
		height: 3rem;
		justify-self: center;
	}
	&__btn {
		justify-self: start;
		align-self: start;
		font-size: 1.6rem;
	}

	&__seenon-text {
		display: grid;
		font-size: 1.6rem;
		color: $color-grey-light-2;
		margin-top: 0.7rem;
		grid-template-columns: 1fr max-content 1fr;
		font-family: $font-display;
		align-items: center;

		&::before,
		&::after {
			content: "";
			height: 1px;
			display: block;
			background-color: currentColor;
			margin: 0 2rem;
		}
	}

	&__seenon-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 3rem;
		justify-items: center;
		img {
			height: 2.5rem;
			filter: brightness(70%);
		}
	}
}
